html{
	background-color: lightgrey;
}
body{
	position: absolute;
	background-color: whitesmoke;
	
}
header h1{
	background-color: green;
	color: white;
	padding: 20px;
	margin-top: 0;
	margin-left: 0;
	font-family: 'akaPotsley', fantasy;
	font-family: normal;

}

ul li{
		list-style: none;
		margin: 0;
		padding: 0;
		width: 150px;
		float: left;
		margin-right: 2em;
		margin-bottom: 2em;

}

ul li{
		list-style: none;
		margin: 0;
		padding: 0;
		width: 150px;
		float: left;
		margin-right: 2em;
		margin-bottom: 2em; 	
}

header nav{
	position: relative;
	left:  0;
}
header nav li a{
	background-color: lightpink;
	color: orange;
	text-align: center;
	padding: 3px;
	display: block;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Verdana', sans-serif;
}
header nav li a:hover{
	background-color: darkviolet;
}